@model CAI.Services.Models.TrainingData.TrainingDataCreateModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*@{ Model.BotId = ViewBag.Message; }
    @Html.HiddenFor(m => m.BotId);*@
    <div class="form-horizontal">
        <h4>Training data</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Details", "Intention", new { id = @Model.IntentionId }, null)
</div>
