@model CAI.Services.Models.Bot.BotViewModel

<div>
    <br/>
    <h3>Bot Details</h3>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BotType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BotType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnvironmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnvironmentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>

    @*@Html.DropDownList("element", Model.Intentions.Select(x => new SelectListItem(){ Text = x.Name}))*@
    
    <p>
        @Html.ActionLink("Create New", "Create", "Intention", new { botId = @Model.Id }, null)
    </p>
    <label for="intentionsTable">@Html.DisplayNameFor(model => model.Intentions)</label>
    <div id="intentionsTable">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Intentions.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Intentions.FirstOrDefault().CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Intentions.FirstOrDefault().ModifiedOn)
                </th>
                <th></th>
            </tr>

            @foreach (var intention in Model.Intentions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => intention.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => intention.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => intention.ModifiedOn)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Intention", new { id = intention.Id }, null) |
                        @Html.ActionLink("Details", "Details", "Intention", new {id = intention.Id}, null) |
                        @Html.ActionLink("Delete", "Delete", "Intention", new {id = intention.Id}, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
