@model CAI.Web.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="text-align: center;">
        <h1>C.A.I.</h1>
        <h2>Customizable Artificial Intelligence</h2>
        <h4>Welcome to C.A.I.</h4>
        <h4>This is a web platform for building great customized AI bots for your needs.</h4>
    </div>
</div>

@*<div class="panel panel-primary">
        <div class="panel-heading">Try it out now!</div>
        <div class="panel-body">
            <p>Here are some of the sample test bots:</p>

        </div>
    </div>*@

<div class="container well">
    <h2 style="text-align: center;">Try sample bots:</h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{
                for (int i = 0; i < Model.DefaultBots.Count(); i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#myCarousel" data-slide-to=i class="active"></li>
                    }
                    else
                    {
                        <li data-target="#myCarousel" data-slide-to=i></li>
                    }
                }
            }
        </ol>
        <div class="carousel-inner">

            @{
                for (int i = 0; i < Model.DefaultBots.Count(); i++)
                {
                    var bot = Model.DefaultBots[i];

                    if (i == 0)
                    {
                        <div class="item active">
                            
                            @Html.Partial("_IndexBotInfoPartial", @bot)

                            @*<img src=@bot.Image style="height:500px; display: block; margin: 0 auto;">
                            <div class="carousel-caption">
                                <h1 class="label label-default" style="font-size: 17px">Name: @bot.Name</h1>
                                <br />
                                <br />
                                <h1 class="label label-default" style="font-size: 17px">Type: @bot.BotType</h1>
                                <br />
                                <br />
                                <button type="button" class="btn-success btn-lg" onclick="location.href='@Url.Action("Chat", "IntentionRecognition", new { botId = @bot.Id })'">
                                    Try Bot
                                </button>
                            </div>*@
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            
                            @Html.Partial("_IndexBotInfoPartial", @bot)
                            @*<img src=@bot.Image style="height:500px; display: block; margin: 0 auto;">
                            <div class="carousel-caption">
                                <h1 class="label label-default" style="font-size: 17px">Name: @bot.Name</h1>
                                <br />
                                <br />
                                <h1 class="label label-default" style="font-size: 17px">Type: @bot.BotType</h1>
                                <br />
                                <br />
                                <button type="button" class="btn-success btn-lg" onclick="location.href='@Url.Action("Chat", "IntentionRecognition", new { botId = @bot.Id })'">
                                    Try Bot
                                </button>
                            </div>*@
                        </div>
                    }
                }
            }
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@*<div class="row">
        <p>Try it out now! Here are some of the sample test bots:</p>
        @*<div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
            </p>
        </div>
    </div>*@